Data TYpes and Structures Assignmnent

1.What are data structures, and why are they important?

Data structures refer to how data is stored and organised.these are containers used to store data.

importance:-
a)they store data
b)they help to organise data

2.Explain the difference between mutable and immutable data types with example.

mutable data is chnageable data or can be later modified e.g list
immutable data is unchnageable or cannot be modified e.g tuple.

3. What are the main differences between lists and tuples in Python?

lists are mutable while tuples in python are immutable

4. Describe how dictionaries store data

they store the data in the form of key value pair.

5. Why might you use a set instead of a list in Python?

a set will give me the unique elements in a data with duplicated elements yet a list will give me the duplicated elements too. so incase i want the elemnts in the data set its best to use sets.

6. What is a string in Python, and how is it different from a list?

a string is a sequnce of characters under enclosed quotes ' ' while a list is heterogenous meaning it can consist of both numbers and charcters[]

7. How do tuples ensure data integrity in Python?

its immutable nature makes sure that the data cannot be tampered with hence ensuring integrity. tuples work best for storing senstive information such as account numbers

8.  What is a hash table, and how does it relate to dictionaries in Python?

its a data structre that allows you to store and retrieve data typically in constant time using the hash function

9. Can lists contain different data types in Python?

integer
string
float
boolean
list
dictionary

10.  Explain why strings are immutable in Python?

strings are immutable because any changes made to the inputed string automatically creates a new string.

11. What advantages do dictionaries offer over lists for certain tasks?

dictionary keys are unique in that they automatically prevent duplicate entries for the same key. lists can contain duplicates which means u have to check manually

12. Describe a scenario where using a tuple would be preferable over a list?

if i require sensitive information from a user, it could be stored as a tuple to avoid its corruption or manipulation which is possible in lists. for example if i ask a user to enter their gmail password, i would require the exact match which a list may be less integral..

13.  How do sets handle duplicate values in Python?

sets automatically eliminate duplicate value to capture unique elements only.

14.  How does the “in” keyword work differently for lists and dictionaries?

the 'in' keyword in lists checks whether the value exists in the list while in dictionary it checks if the key exists not values.

15. Can you modify the elements of a tuple? Explain why or why not?

no because it is immutable

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its values.

students = {
    "Alice": {"Math": 90, "Science": 85, "English": 92},
    "Bob": {"Math": 78, "Science": 82, "English": 88},
    "Charlie": {"Math": 95, "Science": 89, "English": 91}
}

#Access Alice's Science grade
print(students["Alice"]["Science"])  # Output: 85

#Add a new subject for Bob
students["Bob"]["History"] = 80

#Print the updated dictionary
print(students)

17. Describe the time complexity of accessing elements in a dictionary?

Accessing elements in a Python dictionary is generally very fast because dictionaries are implemented using hash tables.

18.  In what situations are lists preferred over dictionaries?

Use lists when you care about order, indices, duplicates, or simple sequential collections. while dictionaries when you need fast access by unique keys or associative mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries in Python are considered unordered because, internally, they are implemented as hash tables, which store key-value pairs based on the hash of the key, not in a sequential order.

20.  Explain the difference between a list and a dictionary in terms of data retrieval?

dictionaries use key to acess to retrieve data which allows them to access diiferent elements while lists use indexing to access or retrieve their data.

Practical Questions

In [ ]:
#1. write a code to create a string with your name and print it.
name='Jason Kunene'
print(name)

Jason Kunene

In [ ]:
#2.Write a code to find the length of the string "Hello World"
str="Hello World"
print("the lenght of the string is",len(str))

the lenght of the string is 11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
word="Python Programming"
print(word[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
word='hello'
print(word.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
word="i like apple"
print(word.replace("apple","orange"))

i like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4,5]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters=['a','b','c','d']
print(letters[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it
Tuple1=(100,200,300)
print(type(Tuple1))
print(Tuple1)

<class 'tuple'>
(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colours=('red','green','blue','yellow')
colours[1:4]

('green', 'blue', 'yellow')

In [ ]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
T=(10,20,5,15)
print(min(T))
print(type(T))

5
<class 'tuple'>

In [ ]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pets=('dog', 'cat', 'rabbit')
print(pets.index('cat'))

1

In [ ]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('banana','apple','pair')

if ('kiwi') in fruits:
  print('contains kiwi')

else:
  print('does not contain kiwi')

does not contain kiwi

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it

letters={'a','b','c'}
print(letters)

{'a', 'b', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers={1,2,3,4,5}
numbers.clear()

In [ ]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
numbers={1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
print(set1|set2)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set_A={1,2,3}
set_B={2,3,4}
print(set_A & set_B)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
info={'name':'Jason','age':'20','city':'M/lore'}
print(info)

{'name': 'Jason', 'age': '20', 'city': 'M/lore'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d={'name':'John','age':25}
d['country']='USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name':'Alice','age':30}
print(d['name'])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d2={'name':'Bob','age':22,'city':'New York'}
del d2['age']
print(d2)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d3={'name':'Alice','city':'Paris'}
print(d2.keys())

dict_keys(['name', 'city'])

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
#list
l1=[1,2,3,4,5]
print('list:',l1)
#tuple
t1=(1,2,3,4)
print("tuple:",t1 )
#dictionary
d1={'age':87,"pin":1234}
print('dictionary:',d1)

list: [1, 2, 3, 4, 5]
tuple: (1, 2, 3, 4)
dictionary: {'age': 87, 'pin': 1234}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l1=[25,89,0,55,4]
print(sorted(l1))

[0, 4, 25, 55, 89]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index
l2=['hey','wait','update','bye']
print(l2[3])

bye

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
d1={'name':'jake','level':8}
d2={'adress':'Bombay','car':'ford'}
print(d1|d2)

{'name': 'jake', 'level': 8, 'adress': 'Bombay', 'car': 'ford'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
shopping_list=['banana','milk','oil','rice']
shopping_set=set(shopping_list)
print(shopping_set)

{'milk', 'banana', 'oil', 'rice'}