In [ ]:
1.#program to print Hello, World!
print('Hello, World!')

Hello World!

In [ ]:
2.#program that displays your name and age
name=input('enter your name')
age=(input('enter your age'))
print(f'your name is {name},your age is {age}')

enter your namejason
enter your age90
your name is jason,your age is 90

In [ ]:
3.#print all pre-defined keywords using keyword library
import keyword
keyword_list=keyword.kwlist
print('print python predefined keywords:',keyword_list)

print python predefined keywords: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
4.#write a program to check if a given word is a python keyword
import keyword
word=input('enter a word')

if keyword.iskeyword(word):
  print('python keyword')

else:
  print("not a python keyword")

enter a wordjjjjjjilio
not a python keyword

In [ ]:
5.
#Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
#changing a list
l1=[1,2,3,4]
l1[2]=100
print(l1)

#changing a tuple
t1=(1,2,3,4)
l2=list(t1)
#we cannot chnage a tuple without converting it tuple

[1, 2, 100, 4]

In [ ]:
6. #demonstrating the behaviour of mutable and immutable arguments
#mutable arguments
l1=[2,4,6,8]
l1[0]=10
print(l1)

#immutable arguments
t1=(1,2,3,4)
t1(0)==(10)
print(t1)

[10, 4, 6, 8]

TypeError: 'tuple' object is not callable

In [ ]:
7. #program that performs basic arithmetic operations on two user-input mubers
number_1=float(input('enter a number'))
number_2=float(input("enter a second number"))

sum=number_1+number_2
print('the sum of both numbers is:', sum)
difference=number_1-number_2
print("the difference of both numbers is:", difference)

product=number_1*number_2
print("the product of both numbers is:", product)

remainder=number_1%number_2
print("the remainder is:", remainder)

quotient=number_1/number_2
print("the quotient of these numbers is:", quotient)

enter a number67
enter a second number90
the sum of both numbers is: 157.0
the difference of both numbers is: -23.0
the product of both numbers is: 6030.0
the remainder is: 67.0
the quotient of these numbers is: 0.7444444444444445

In [ ]:
8. #logical operators
#and
a,b=5,4
print(a>4 and b<10)
print(a>4 and b<3)
#only works if both conditions are true

#or
a,b=5,4

print(a>4 or b<3)
#can function if only one condition is true

#not
a,b=5,4
print(not(b))
print(not(a))
#it reverses a true statement into a false statement

True
False
True
False
False

In [ ]:
9. #converting a string to an integer,float and bolean
your_string=input('enter a value')
print(int(your_string))
print(float(your_string))
print(bool(your_string))

enter a value78
78
78.0
True

In [ ]:
10. #type casting of list elements
int_a=[1,2,3,4]
str_a=[str(x) for x in int_a]
float_a=[float(x) for x in int_a]

print(float_a)
print(str_a)

[1.0, 2.0, 3.0, 4.0]
['1', '2', '3', '4']

In [ ]:
11. #code that checks if a number is positive or negative
number=float(input("enter a number"))

if number<0:
    print("the number is negative")

else:
    print("the number is positive")

enter a number-9
the number is negative

In [ ]:
12.#for loop to print numbers from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
13. #sum of even numbers between 1 and 50
x=list(range(1,51))

print(x)
total=0
for num in x:
    if num%2==0:
        total=total+num

print('the sum of even number between 1 and 50 is:',total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
the sum of even number between 1 and 50 is: 650

In [ ]:
14. #reversing a string using a while loop
word="jason"
print(word)

reversed_word=('')
i=len(word)-1

while i>=0:
    reversed_word=reversed_word+word[i]
    i=i-1

print("reversed word:",reversed_word)

In [ ]:
15. # program to calculate the factorial of a given number
num = int(input("Enter a number to find its factorial: "))

factorial = 1

while num > 1:
    factorial *= num
    num -= 1

print("Factorial is:", factorial)

Enter a number to find its factorial: 67
Factorial is: 36471110918188685288249859096605464427167635314049524593701628500267962436943872000000000000000